:root {
  /*Main colors*/
  --001: #fffdef;
  --002: #f1f1f1;
  --003: #e70000;
  --004: #c50000;
  --005: #000;
  --006: #fff;
  --007: #a7bcb9;

  /*Icon colors*/
  --sun: #f1c232;
  --cloud: #0048ba;
  --rain: #733f83;
  --mist: #a7bcb9;
}

/*General*/
body {
  font-family: "Arima", cursive;
  line-height: 25px;
  max-width: 700px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-border {
  padding: 25px;
  border: 1px solid var(--003);
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 2px;
  background-color: var(--001);
  color: var(--005);
  font-weight: 500;
}

.sorce-code-link {
  margin-left: 10px;
  font-size: 12px;
  color: var(--004);
}

.link {
  text-decoration: none;
}

/*Header*/
.title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: bold;
}

.main-weather-data {
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 30px;
}

.main-city-name {
  font-size: 30px;
  font-weight: bold;
}

.main-date,
.main-description {
  font-size: 20px;
}

.title,
.main-city-name,
.main-current-temp {
  color: var(--004);
}

/*Buttons*/
.current-button {
  position: relative;
  left: 0px;
  width: 110px;
  border-radius: 5px;
  border: solid 1px var(--007);
}

.confirm-button {
  position: relative;
  left: 60px;
  width: 110px;
  border-radius: 5px;
  border: solid 1px var(--007);
}

button {
  background-color: var(--002);
}

button:hover {
  background-color: var(--003);
  color: var(--006);
  border: solid 1px var(--004);
}

/*Main*/

.main-img {
  font-size: 50px;
  margin-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
  color: var(--mist);
  position: relative;
  top: 15px;
  left: 25px;
}

.main-current-temp,
.main-max-temp,
.main-min-temp {
  position: relative;
  right: 100px;
  top: 15px;
}

.main-current-temp {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.main-max-temp,
.main-min-temp,
.other-description {
  font-size: 20px;
  line-height: 30px;
}

.cel,
.far,
.kmh,
.mph {
  text-decoration: none;
}

.other-description {
  position: relative;
  right: 70px;
}
